.page {
  &.online   { @include liquidate($green-1, $green-2); }
  &.offline  { @include liquidate($red-1, $red-2);     }
  &.inactive { background: $cold-grey;                 }
  padding: 20px 30px;

  .top {
    h1 {
      display: inline-block;
      position: relative;
      font: $reg;
      font-size: 2.75rem;
      color: #FFF;
      font-weight: normal;
      margin: 0;

      &::after {
        content: "";
        display: block;
        position: relative;
        top: 3px;
        background: #FFF;
        height: 1px;
        width: 100%;
      }
    }
  }
}
